.nav-bar {
  display : flex;
  grid-area : nav;
  width : max-content;
  column-gap : 20px;
  padding : 10px 15px;
  background-color: cornflowerblue;
  border-radius : 9999px;
}

.tab {
  color : white;
  transition : all 0.15s ease-in-out;
  &:hover {
    transform : translateY(-2.5px);
  }
}